body {
	font: 1em/1.4 Calibri, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

.doc-body h1,
.doc-body h2,
.doc-body h3,
.doc-body h4,
.doc-body h5,
.doc-body h6,
.doc-body ul,
.doc-body p {
	margin: 0 0 0.5em;
}

.doc-head-content,
.doc-body-content,
.doc-foot-content {
	margin: 0 auto;
	width: 860px;
}

.doc-head {
	background: #F5F5F5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #F5F5F5));
	background-image:    -moz-linear-gradient(top, #FFF, #F5F5F5);
	background-image:     -ms-linear-gradient(top, #FFF, #F5F5F5);
	background-image:      -o-linear-gradient(top, #FFF, #F5F5F5);
	background-image: -webkit-linear-gradient(top, #FFF, #F5F5F5);
	background-image:         linear-gradient(top, #FFF, #F5F5F5);
}

.doc-head-content {
	padding: 10px 25px 35px;
}

.doc-body-content {
	background: #FFF;
	border-radius: 1em;
	box-shadow: 0 0 4px #F5F5F5;
	padding-bottom: 20px;
	padding: 20px 25px;
	position: relative;
	top: -2em;
}

.codeblock pre {
	background: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
	color: #444;
	font: 75% 'Bitstream Vera Sans Mono', 'Courier', monospace;
	margin: 1em 0;
	overflow: auto;
	padding: 0.5em 0.75em;
}

.codeblock .c,
.codeblock .c1 { color: #998; }

.codeblock .nt { color: #000080; }

.codeblock .na { color: #008080; }

.codeblock .s,
.codeblock .s1 { color: #D14; }

.codeblock .k,
.codeblock .kd,
.codeblock .o  { font-weight: bold; }